.grid {
    --h-gap: 2.4em;
    --v-gap: 2em;
	--num-cols: 4;

	display: grid;

    grid-row-gap: var(--v-gap); /* Set the vertical gap */
    grid-column-gap: var(--h-gap); /* Set the horizontal gap */
	grid-template-columns: repeat(var(--num-cols), 1fr);
    align-items: stretch;
}

.botones{
    font-size: 2em;
    background-color: var(--bc50);
    color: var(--bc);
}
    .botones img {
        max-height: 75%;
        max-width: 75%;
        display: block;
        margin: 0 auto;
    }
    .botones > i{
        font-size: 1.2em;
        display: block;
    }