.d3 {
    /* contenedor dividido en 3 */
    display: flex;
}

/* Carrusel */
.idiomas-carrusel-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .idiomas-carrusel-contenedor i{
    margin: 0pt 15pt;
    font-size: 20pt;
    color: #fff;
}
.idiomas-carrusel-contenedor > div > img{
    width: 100pt;
    margin: 15pt;
} */