@import url('https://fonts.googleapis.com/css2?&family=Nunito&display=swap');

/* -------------- VARIABLES GENERALS -------------- */
html{
    /* --- colors --- */
    --bc: #404040; /* background-color */
    --t: #fff;     /* text */

    /*  --- tamanys  --- */
    --w: 510pt;      /* width */
    --h: 232.5pt;    /* height */
}

*{
    font-family: 'Nunito', sans-serif;
}

#interfaz{ /* tamaño fijo 16:9 */
    width: var(--w);
    height: var(--h);
    background-color: var(--bc);
    border-radius: 15px;

    /* centra pantalla */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
}

button, a{
    background-color: var(--bc);
    border: none;
    border-radius: 15px;
    color: var(--t);
    padding: 9pt;
    margin: 9pt;
    font-size: 23pt;
    cursor: pointer;
}

p{
    color: var(--t);
}

/* ELEMENTS ESPECÍFICS */
#hora{
    color: var(--t);
    font-size: 23pt;
}

#centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#izq_sup{
    position: absolute;
    top: 0;
    left: 0;
}

#izq_inf{
    position: absolute;
    bottom: 0;
    left: 0;
}

#der_sup{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}
#der_sup button{
    margin: 9pt 9pt 0pt 0pt;
    padding: 9pt 9pt 0pt 0pt;
    font-size: 18pt;
}

#der_inf{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}
#der_inf button{
    margin: 0pt 0pt 9pt 9pt;
    padding: 0pt 0pt 9pt 9pt;
    font-size: 9pt;
}

/* Carrusel */

.idiomas-carrusel-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}