@import url(estilos/botones.css);
@import url(estilos/reloj.css);
@import url(estilos/ajustes.css);
@import url(estilos/otros.css);

@import url('https://fonts.googleapis.com/css2?&family=Nunito&display=swap');

/* -------------- VARIABLES GENERALS -------------- */
html{
    /* ------ colors ------ */
    --bc: #404040;      /* background-color */
    --bc50: #A0A0A0;    /* background-color 50% */
    --t: #fff;          /* text */
    --bv: #d5e8d4;      /* backgound verd: acceptar, play */
    --cv: #4a663a;      /* color verd */

    /* ------ tamanys ------ */
    --w: 510pt;           /* width */
    --w2: 310pt;
    --h: 232.5pt;         /* height */
    --h2: 125pt;
}

*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

#interfaz{ /* tamaño fijo 16:9 */
    width: var(--w);
    height: var(--h);
    background-color: var(--bc);
    border-radius: 15px;

    /* centra pantalla */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: grid;
    align-content: space-between;
}

button, a{
    background-color: var(--bc);
    border: none;
    border-radius: 15px;
    color: var(--t);
    font-size: 23pt;
    cursor: pointer;
}

p{
    color: var(--t);
}

/* ELEMENTS ESPECÍFICS */
#hora{
    padding-left: .75em;
    color: var(--t);
    font-size: 1.6em;
    opacity: 95%;
}

#centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#izq_sup, #izq_inf{
    padding: 1.5em;
}

#der_sup, #der_inf{
    display: flex;
    flex-direction: column;
    position: absolute;
}

#der_sup{
    top: 0;
    right: 0;
}
    #der_sup button{
        margin: 9pt 9pt 0pt 0pt;
        padding: 9pt 9pt 0pt 0pt;
        font-size: 18pt;
    }

#der_inf{
    bottom: 0;
    right: 0;
}
    #der_inf button{
        margin: 0pt 0pt 9pt 9pt;
        padding: 0pt 0pt 9pt 9pt;
        font-size: 9pt;
    }

/* div de contenido */
#controles{
    /*border: 1px solid #fff; */
    width: var(--w2);
    height: var(--h2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: space-between;
}

#ctrl_izq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    #ctrl_izq > a{
        font-size: 3em;
    }

#ctrl_der{
    display: flex;
    align-items: flex-end;
}

    #controles > div > *{
        margin: 0;
        padding: 0;
    }

#atras{
    position: absolute;
    padding: 0;
    bottom: 0;
    right: 0;
}
#atras:disabled{
    color: var(--bc);
    cursor: auto;
}

.transparente {
    opacity: 0.5;
}

/* DIALOG */
/* dialog {
    color: var(--t);
    border: none;
    margin: 0;
    padding: 0;
    background-color: var(--bc);
} */

/*modal*/  
  /* The modal's background */
  .modal {
    background-color: var(--bc);
    display: none;
  }
  
  /* Display the modal when targeted */
  .modal:target {
    display: flex;
    position: fixed;
    box-shadow: 0px 0px 0px 5px rgb(64 64 64);
  }

  .modal > header{
      color: var(--t);
      display: inline-flex;
      justify-content: space-between;
  }
  
  .closebtn {
    float: right;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--t);
  }  